.alert {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;

  &>h2 {
    font-size: 17px;
    margin-right: 5px;
  }
}

.warning {
  background: #d35400;
}

.danger {
  background: #c0392b;
}

.success {
  background: #27ae60;
}